In [67]:
"""
Simple Linear Regression model for Insurance Data.

Author: Oscar Lopez.
"""

import pandas as pd

insurance_data_url = "https://raw.githubusercontent.com/stedy/Machine-Learning-with-R-datasets/master/insurance.csv"
inData = pd.read_csv(insurance_data_url)
inData.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [68]:
#Changing alpha values to numeric values eg. female = 0, male = 1

for i in range(len(inData)):
    
    #Changing sex values to numerical values.
    if inData.iloc[i,1] == 'male':
        inData.iloc[i, 1] = 1
    else:
        inData.iloc[i, 1] = 0
        
    #Changing smoking status to numerical values.
    if inData.iloc[i, 4] == 'yes':
        inData.iloc[i, 4] = 1
    else:
        inData.iloc[i, 4] = 0
    
    #Changing region to numerical values
    if inData.iloc[i, 5] == 'southwest':
        inData.iloc[i, 5] = 3
    elif inData.iloc[i, 5] == 'northeast':
        inData.iloc[i, 5] = 4
    elif inData.iloc[i, 5] == 'southeast':
        inData.iloc[i, 5] = 1
    else:
        inData.iloc[i, 5] = 2

inData.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       1   1725.55230
2   28    1  33.000         3       0       1   4449.46200
3   33    1  22.705         0       0       2  21984.47061
4   32    1  28.880         0       0       2   3866.85520

In [69]:
#Setting up features for model.
# features = ['age', 'sex', 'bmi', 'children', 'smoker']
features = []
#labels = charges
labels = []

for i in range(len(inData)):
    #Dataset to be appended into features.
    data = []
    
    #Data appended in dataset.
    age = inData.iloc[i, 0]
    sex = inData.iloc[i, 1]
    bmi = inData.iloc[i, 2]
    children = inData.iloc[i, 3]
    smoker = inData.iloc[i, 4]
    charge = inData.iloc[i, 6]
    
    data.append(age)
    data.append(sex)
    data.append(bmi)
    data.append(children)
    data.append(smoker)
    
    #Adding dataset to features.
    features.append(data)
    
    #Adding charge data to labels
    labels.append(charge)

In [70]:
# Linear Regression Model
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

X = inData.iloc[:,:-2].values
Y = inData.iloc[:, -1].values

X_Train, X_Test, Y_Train, Y_Test = train_test_split(X, Y, test_size = 1/3, random_state=0)

regressor = LinearRegression()
regressor.fit(X_Train, Y_Train)

Y_Pred = regressor.predict(X_Test)

# Prediction
firstPerson_charge = regressor.predict([[24,1,36,1,1]])
secondPerson_charge = regressor.predict([[56,0,33,0,0]])

print(f'\nFirst Person Predicted Charge: $%.2f'%firstPerson_charge)
print(f'Second Person Predicted Charge: $%.2f'%secondPerson_charge)

First Person Predicted Charge: $29303.82
Second Person Predicted Charge: $12956.62